<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.picksari.recommendMapper">
    <select id="musicList" resultType="com.dev.picksari.Domain.MusicVO">
        SELECT mName, mSinger, mOctave, mGenre FROM music
    </select>

    <select id="octave_musicList" resultType="com.dev.picksari.Domain.MusicVO">
        select m.mName, m.mSinger, m.mOctave, m.mGenre, m.mOctave
        from music m, octave o where m.mOctave=o.mOctave and
        o.mNum <![CDATA[ <= ]]> ( select mNum from octave where mOctave=#{mOctave})
    </select>

    <select id="genre_musicList" resultType="com.dev.picksari.Domain.MusicVO">
        select m.mName, m.mSinger, m.mOctave, m.mGenre, m.mOctave
        from music m, octave o where m.mOctave=o.mOctave and
        o.mNum <![CDATA[ <= ]]> ( select mNum from octave where mOctave=#{mOctave})
    </select>





</mapper>
